<table mat-table matSort [dataSource]="cards$ | async" class="mat-elevation-z8" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

  <ng-container matColumnDef="card">
    <th mat-header-cell *matHeaderCellDef> Card </th>
    <td mat-cell *matCellDef="let element">
        <pitch-player-card [card]="getPitchCard(element)" size="sm" mode="squad"></pitch-player-card>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
  </ng-container>

  <ng-container matColumnDef="goals">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Goals Scored </th>
      <td mat-cell *matCellDef="let element"> {{element.goalsScored}} </td>
    </ng-container>

  <ng-container matColumnDef="createdOn">
    <th mat-header-cell *matHeaderCellDef> Created On </th>
    <td mat-cell *matCellDef="let element"> {{element.createdOn | timeAgo}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>