<div class="flex content-center items-center justify-center p-2" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div class="w-1/6 invisible lg:visible"></div>
  <div class="m-2 flex-grow">
    <table class="w-full text-center">
      <thead>
        <tr>
          <th class="p-4" scope="col"></th>
          <th class="p-4" scope="col">Name</th>
          <th class="p-4" scope="col">Position</th>
          <th class="p-4" scope="col">Rating</th>
          <th class="p-4" scope="col">Fitness</th>
          <th class="p-4" scope="col">Goals Scored</th>
          <th class="p-4" scope="col">Recieved</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of (cards$ | async)" class="cursor-pointer hover:bg-indigo-lighter p-2">
          <td class="p-2">
            <pitch-player-card [card]="getPitchCard(card)" size="sm" mode="squad"></pitch-player-card>
          </td>
          <td class="p-2">{{card.name}}</td>
          <td class="p-2">{{card.position}}</td>
          <td class="p-2">{{card.rating}}</td>
          <td class="p-2">{{card.fitness}}</td>
          <td class="p-2">{{card.goalsScored}}</td>
          <td class="p-2">{{card.createdOn | timeAgo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="w-1/6 invisible lg:visible"></div>
</div>