<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="bg-secondary mar-0 pad-sm text-light">
    Welcome to {{ title }}!
  </h1>
  <div class="bg-primary pad-md">
    <div class="pad-xs">
        <span class="badge badge-warning">NEW PACK!</span>
    </div>
    <div (click)="spin('c')" class="player gold" [ngClass]="spins['c'] || 'unopened'">
      <span class="position">{{players['c']?.Position || '?'}}</span>
      <span class="name">{{players['c']?.Name || '?'}}</span>
      <span class="rating">{{players['c']?.Rating || '?'}}</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
