<div class="w-full flex">
    <div class="w-1/6 invisible lg:visible"></div>
    <div class="flex-grow">

        <div class="lg:my-16 flex flex-row md:items-center w-full">
            <div class="w-full md:w-1/2 z-10">
                <div class="mt-4 mx-auto w-2/3">
                    <div class="mb-4 text-indigo font-semibold uppercase">Season Rank</div>
                    <div class="font-bold text-xl mb-2 pb-3 text-center">
                        <div>
                            <fa-icon [icon]="starIcon" size="2x" class="text-yellow-dark"></fa-icon>
                            <fa-icon [icon]="starIcon" size="2x" class="text-grey"></fa-icon>
                            <fa-icon [icon]="starIcon" size="2x" class="text-grey"></fa-icon>
                            <fa-icon [icon]="starIcon" size="2x" class="text-grey"></fa-icon>
                            <fa-icon [icon]="starIcon" size="2x" class="text-grey"></fa-icon>
                        </div>
                    </div>
                </div>
                <hr class="py-0 my-0 border border-grey-lighter">
                <div *ngIf="unclaimed" class="py-4">
                    <div class="mt-4 mx-auto w-2/3">
                        <div class="mb-4 text-indigo font-semibold uppercase">Match Rewards</div>
                        <div class="flex items-center justify-center mb-4 ml-4">
                            <span class="inline-flex bg-yellow rounded-full mr-4 p-2">
                                <span class="text-black">+ £5,000</span>
                            </span>
                        </div>
                        <div class="flex items-center justify-center mb-4 ml-4">
                            <span class="inline-flex bg-orange rounded-full mr-4 p-2">
                                <span class="text-white">+ 1,000 XP</span>
                            </span>
                        </div>
                        <div class="flex items-center justify-center mb-4 ml-4">
                            <span class="inline-flex bg-grey rounded-full mr-4 p-2">
                                <span class="text-black">+ 1 Regular Pack</span>
                            </span>
                        </div>
                        <hr class="py-0 my-0 border border-grey-lighter">
                        <div class="mt-2 text-sm text-right">
                            <a href="#">View full match details »</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="!unclaimed"
                    class="p-8 text-indigo-darker rounded rounded-t-none text-center uppercase font-bold ">
                    <div class="w-full flex items-center justify-center">
                        <button (click)="matchmake()"
                            class="h-12 flex-grow relative mt-4 mr-2 bg-indigo hover:bg-indigo-dark text-white font-bold py-2 px-4 rounded">
                            <div *ngIf="showStatus">
                                <fa-icon [icon]="loadingIcon" [spin]="true"></fa-icon>
                                <span class="ml-2">{{statusMessage}}</span>
                            </div>
                            <div *ngIf="!showStatus">
                                <fa-icon [icon]="findMatchIcon" class="text-white"></fa-icon> Find Match
                            </div>
                            <span
                                class="absolute pin-t pin-r -mt-2 -mr-2 rounded-full bg-red uppercase px-2 py-1 text-white text-xs font-bold">LIVE</span>
                        </button>
                        <button
                            class="h-12 flex-grow mt-4 ml-2 bg-grey hover:bg-grey-light text-white font-bold py-2 px-4 rounded">
                            <fa-icon [icon]="simMatchIcon" class="text-white"></fa-icon>
                            Sim Match
                        </button>
                    </div>
                </div>
                <div *ngIf="unclaimed">
                    <button (click)="claim()"
                        class="flex-grow mt-4 ml-2 bg-green hover:bg-green-light text-white font-bold p-4 rounded text-xl w-full">
                        <fa-icon [icon]="faGift" class="text-white"></fa-icon>
                        Claim Rewards
                    </button>
                </div>
                <div *ngIf="inProgess">
                    <button (click)="claim()"
                        class="flex-grow mt-4 ml-2 bg-green hover:bg-green-light text-white font-bold p-4 rounded text-xl w-full">
                        <fa-icon [icon]="faGift" class="text-white"></fa-icon>
                        Match View
                    </button>
                </div>
            </div>
            <div class="rounded w-5/6 md:w-1/2 z-0 mx-auto -mt-1 md:-mt-0 md:-ml-1">
                <div class="py-8 text-center text-indigo font-semibold uppercase">
                    <div class="px-3 py-2">
                        <div class="font-bold text-lg mb-2 pb-3">
                            Level 3
                        </div>
                        <div class="w-full">
                            <div class="w-full bg-grey-light">
                                <div class="bg-orange-lighter text-xs font-bold leading-none py-1 text-center"
                                    style="width: 45%">
                                    5323
                                    xp</div>
                                <div class="bg-orange text-xs font-bold leading-none py-1 text-center"
                                    style="width: 65%">
                                    5323
                                    xp</div>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-1/6 invisible lg:visible"></div>
</div>