<p class="text-2xl m-2">Claim</p>
<div class="flex">
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2 relative">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-indigo text-white">
      <div class="pin absolute mx-4 my-2 max-w-sm justify-center content-center flex flex-col">
        <p class="font-bold text-lg text-white z-10">🎉 CLAIM 🍾</p>
        <div class="pin absolute opacity-75 bg-indigo-light w-full h-full"></div>
      </div>
      <div class="px-3 py-2 ">
        <div class="font-bold text-lg mb-2 text-indigo-lighter">Moving on up</div>
        <p class="text-sm">
          Assign one of your starting eleven to a training slot
        </p>
      </div>
      <div class="text-xs bg-indigo-light">
        <div class="text-right p-2">
          <div class="m-1 p-1 bg-orange-dark items-center text-white leading-none rounded-full flex inline-flex" role="alert">
            500 xp
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="text-2xl m-2">Daily</p>
<div class="flex">
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-indigo text-white">
      <div class="px-3 py-2">
        <div class="font-bold text-lg mb-2 text-indigo-lighter">Lucky you</div>
        <p class="text-sm">
          Recieve a player rated 65 or above in your starting squad
        </p>
      </div>
      <div class="text-xs bg-indigo-light">
        <div class="text-right p-2">
          <div class="m-1 p-1 bg-yellow-dark items-center text-black leading-none rounded-full flex inline-flex" role="alert">
            £1,000
          </div>
          <div class="m-1 p-1 bg-orange-dark items-center text-white leading-none rounded-full flex inline-flex" role="alert">
            100 xp
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-indigo text-white">
      <div class="px-3 py-2 ">
        <div class="font-bold text-lg mb-2 text-indigo-lighter">Moving on up</div>
        <p class="text-sm">
          Assign one of your starting eleven to a training slot
        </p>
      </div>
      <div class="text-xs bg-indigo-light">
        <div class="text-right p-2">
          <div class="m-1 p-1 bg-orange-dark items-center text-white leading-none rounded-full flex inline-flex" role="alert">
            500 xp
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="text-2xl m-2">Weekly</p>
<div class="flex">
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-indigo text-white">
      <div class="px-3 py-2">
        <div class="font-bold text-lg mb-2 text-indigo-lighter">Lucky you</div>
        <p class="text-sm">
          Recieve a player rated 65 or above in your starting squad
        </p>
      </div>
      <div class="text-xs bg-indigo-light">
        <div class="text-right p-2">
          <div class="m-1 p-1 bg-yellow-dark items-center text-black leading-none rounded-full flex inline-flex" role="alert">
            £1,000
          </div>
          <div class="m-1 p-1 bg-orange-dark items-center text-white leading-none rounded-full flex inline-flex" role="alert">
            100 xp
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-indigo text-white">
      <div class="px-3 py-2 ">
        <div class="font-bold text-lg mb-2 text-indigo-lighter">Moving on up</div>
        <p class="text-sm">
          Assign one of your starting eleven to a training slot
        </p>
      </div>
      <div class="text-xs bg-indigo-light">
        <div class="text-right p-2">
          <div class="m-1 p-1 bg-orange-dark items-center text-white leading-none rounded-full flex inline-flex" role="alert">
            500 xp
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="text-2xl m-2">Special</p>
<div class="flex">
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-indigo text-white">
      <div class="px-3 py-2">
        <div class="font-bold text-lg mb-2 text-indigo-lighter">Lucky you</div>
        <p class="text-sm">
          Recieve a player rated 65 or above in your starting squad
        </p>
      </div>
      <div class="text-xs bg-indigo-light">
        <div class="text-right p-2">
          <div class="m-1 p-1 bg-yellow-dark items-center text-black leading-none rounded-full flex inline-flex" role="alert">
            £1,000
          </div>
          <div class="m-1 p-1 bg-orange-dark items-center text-white leading-none rounded-full flex inline-flex" role="alert">
            100 xp
          </div>
        </div>
      </div>
    </div>
  </div>
</div>