<div class="w-full block flex-grow flex items-center w-auto flex-row bg-indigo">
    <div class="text-sm flex-auto text-left pt-2 pb-2">
        <a routerLink="/squad/active" class="block inline-block mt-0 text-white hover:text-white mr-4 ml-4">
            Active Squad
        </a>
        <a routerLink="/challenges" class="block inline-block mt-0 text-white hover:text-white mr-4">
            Training
        </a>
        <a routerLink="/squad" class="block inline-block mt-0 text-white hover:text-white mr-4">
            Team
        </a>
    </div>
</div>
<router-outlet></router-outlet>