<div class="w-full block flex-grow flex items-center w-auto flex-row bg-indigo-darker">
    <div class="text-sm flex-auto text-left pt-3 pb-3">
        <a routerLink="/seasons" class="block inline-block mt-0 text-indigo-lighter hover:text-white mr-4 ml-2">
            Active Squad
        </a>
        <a routerLink="/challenges" class="block inline-block mt-0 text-indigo-lighter hover:text-white mr-4">
            Training
        </a>
        <a routerLink="/squad" class="block inline-block mt-0 text-indigo-lighter hover:text-white mr-4">
            Team
        </a>
    </div>
</div>

<div class="flex bg-indigo-light">
    <div class="col flex-grow">
        <div class="bg-indigo text-center py-4 lg:px-4">
            <div (click)="click()" class="player">
                <div class="shield gold">
                    <span class="position">ST</span>
                    <span class="name">Mbappé</span>
                    <span class="rating">84</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col flex-grow">
        <div class="bg-indigo text-center py-4 lg:px-4">
            <div (click)="click()" class="player">
                <div class="shield super-rare text-white">
                    <span class="position">ST</span>
                    <span class="name">Mbappé</span>
                    <span class="rating">84</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex bg-indigo">
    <div class="col flex-auto">
        <div (click)="click()" class="player">
            <div class="shield gold">
                <span class="position">ST</span>
                <span class="name">Mbappé</span>
                <span class="rating">84</span>
            </div>
        </div>
    </div>
    <div class="col flex-auto">
        <div (click)="click()" class="player">
            <div class="shield silver">
                <span class="position">ST</span>
                <span class="name">Mbappé</span>
                <span class="rating">84</span>
            </div>
        </div>
    </div>

    <div class="col flex-auto">
        <div (click)="click()" class="player">
            <div class="shield silver">
                <span class="position">ST</span>
                <span class="name">Mbappé</span>
                <span class="rating">84</span>
            </div>
        </div>
    </div>
    <div class="col flex-auto">
        <div (click)="click()" class="player">
            <div class="shield bronze">
                <span class="position">ST</span>
                <span class="name">Mbappé</span>
                <span class="rating">84</span>
            </div>
        </div>
    </div>
</div>

<div class="flex bg-indigo pt-5">
    <div class="col flex-auto">
        <div (click)="click()" class="player">
            <div class="shield gold">
                <span class="position">ST</span>
                <span class="name">Mbappé</span>
                <span class="rating">84</span>
            </div>
        </div>
    </div>
    <div class="col flex-auto">
        <div (click)="click()" class="player">
            <div class="shield silver">
                <span class="position">ST</span>
                <span class="name">Mbappé</span>
                <span class="rating">84</span>
            </div>
        </div>
    </div>

    <div class="col flex-auto">
        <div (click)="click()" class="player">
            <div class="shield silver">
                <span class="position">ST</span>
                <span class="name">Mbappé</span>
                <span class="rating">84</span>
            </div>
        </div>
    </div>
    <div class="col flex-auto">
        <div (click)="click()" class="player">
            <div class="shield silver">
                <span class="position">ST</span>
                <span class="name">Mbappé</span>
                <span class="rating">84</span>
            </div>
        </div>
    </div>
</div>

<div class="flex bg-indigo">
    <div class="col flex-grow">
        <div class="bg-indigo text-center py-4 lg:px-4">
            <div (click)="click()" class="player">
                <div class="shield bronze">
                    <span class="position">ST</span>
                    <span class="name">Mbappé</span>
                    <span class="rating">84</span>
                </div>
            </div>
        </div>
    </div>
</div>