.isometric-container
  overflow: hidden

.isometric
  background-image: url(/assets/bg-mobile.png)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  text-align: center

    //for player faces
    // img
    //   transform: translateZ(2rem) rotateY(180deg) rotateX(90deg)
    //   height: 50px
    //   width: 50px
    //   position: absolute

.text-center
  text-align: center

.squad-name
  font-size: 1.4em
  margin-bottom: 0
  > *
    width: 100%

.container
  margin: 10px

.save-button
  z-index: 40
  position: fixed
  bottom: 50px
  right: 50px

h2
  margin: 0