<button mat-button (click)="openDialog()">Open dialog</button>
<div class="flex flex-wrap mb-4 mt-4 lg:mt-8" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
    <div class="lg:w-1/4 flex-grow" fxFlex="70%">
        <div class="p-4">
            <input matInput *ngIf="squad"
                class="text-2xl bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-indigo"
                type="text" [(ngModel)]="squad.name" placeholder="Your Squad Name" (input)="pendingChanges = true">
        </div>
        <div class="flex w-full justify-between p-4" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around center">
            <mat-card fxFlex="20%"
                class="w-1/4 bg-transparent text-indigo-dark font-semibold py-1 px-2 lg:py-2 lg:px-4 border border-indigo rounded">
                <mat-card-content>
                    <div class="text-center text-sm">Chemistry</div>
                    <div class="text-center text-xl text-black pt-1">{{stats.chemistry | number:'2.0-0'}}%</div>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="20%"
                class="w-1/4 bg-transparent text-indigo-dark font-semibold py-1 px-2 lg:py-2 lg:px-4 border border-indigo rounded">
                <mat-card-content>
                    <div class="text-center text-sm">Fitness</div>
                    <div class="text-center text-xl text-black pt-1">{{stats.fitness | number:'2.0-0'}}%</div>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="20%"
                class="w-1/4 bg-transparent text-indigo-dark font-semibold py-1 px-2 lg:py-2 lg:px-4 border border-indigo rounded">
                <mat-card-content>
                    <div class="text-center text-sm">Rating</div>
                    <div class="text-center text-xl text-black pt-1">{{stats.rating | number:'2.0-0'}}%</div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="isometric-container -mt-20 -mb-20">
            <div class="isometric">
                <div>
                    <div class="flex pb-8 lg:pb-16" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                        fxLayoutAlign="center">
                        <div fxFlex="25%" class="w-1/4 hover:bg-green"></div>
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('LST')" [card]="cards['LST']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('RST')" [card]="cards['RST']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                        <div fxFlex="25%" class="w-1/4 hover:bg-green"></div>
                    </div>
                    <div class="flex pb-8 lg:pb-16" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                        fxLayoutAlign="center">
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('LM')" [card]="cards['LM']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('LCM')" [card]="cards['LCM']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('RCM')" [card]="cards['RCM']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('RM')" [card]="cards['RM']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                    </div>
                    <div class="flex pb-8 lg:pb-16" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                        fxLayoutAlign="center">
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('LB')" [card]="cards['LB']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('LCB')" [card]="cards['LCB']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('RCB')" [card]="cards['RCB']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('RB')" [card]="cards['RB']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                        fxLayoutAlign="center">
                        <div fxFlex="25%" class="w-1/4 hover:bg-indigo-lighter">
                            <div class="text-center py-2">
                                <pitch-player-card (click)="pickPlayer('GK')" [(card)]="cards['GK']" size="sm"
                                    mode="squad">
                                </pitch-player-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="mt-6 mb-6 text-xl">Subs</h2>
        <div *ngIf="squad" class="flex flex-wrap justify-center" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="space-around center">
            <pitch-player-card *ngFor="let id of squad.subs; let i = index" (click)="pickSub(i)" [card]="cards[id]"
                size="sm" mode="squad">
            </pitch-player-card>
        </div>
    </div>
    
    <div class="lg:w-1/5 lg:ml-12 flex" fxFlex="30%" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">
        <div class="w-full p-6" fxFlex="100%">
            <button mat-button *ngIf="!pendingChanges && squad" routerLink="/squad/active"
                class="w-full h-12 bg-grey text-white font-bold py-2 px-4 rounded">
                <fa-icon [icon]="tickIcon" class="mr-2 text-white ml-2"></fa-icon>
                <span>Last updated {{squad.lastUpdated | timeAgo}}</span>
            </button>
            <button mat-button *ngIf="pendingChanges" (click)="save()"
                class="w-full h-12 bg-green text-white font-bold py-2 px-4 rounded">
                <fa-icon [icon]="tickIcon" class="mr-2 text-white ml-2"></fa-icon>
                <span>Save changes</span>
            </button>

            <h2 class="mt-6 text-xl">Team Instructions</h2>
            <div class="w-full">
                <mat-form-field *ngIf="squad">
                    <mat-label>Core Style</mat-label>
                    <mat-select [(ngModel)]="squad.instructions['core']">
                        <mat-option [value]="0">Default</mat-option>
                        <mat-option [value]="1">Attacking</mat-option>
                        <mat-option [value]="2">Defensive</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="squad">
                    <mat-label>Attacking Style</mat-label>
                    <mat-select [(ngModel)]="squad.instructions['attacking']">
                        <mat-option [value]="0">Default</mat-option>
                        <mat-option [value]="1">Direct</mat-option>
                        <mat-option [value]="2">Short</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="squad">
                    <mat-label>Defensive Style</mat-label>
                    <mat-select [(ngModel)]="squad.instructions['defensive']">
                        <mat-option [value]="0">Default</mat-option>
                        <mat-option [value]="1">Press</mat-option>
                        <mat-option [value]="2">Contain</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<div *ngIf="modal && modal.visible" (click)="modal.visible = false"
    class="inset-0 h-full fixed flex items-center justify-center content-center bg-modal"
    style="background-color: rgba(0, 0, 0, 0.8)">
    <div class="bg-white rounded shadow m-4 max-h-full text-center w-full lg:w-1/5">
        <div class="m-4 p-2 text-lg">
            <p>
                Select a {{modal.position || 'player'}}
                <span class="float-right">
                    <fa-icon [icon]="closeIcon" class="ml-2 text-indigo-lighter"></fa-icon>
                </span>
            </p>
        </div>
        <div class="overflow-y-scroll max-h-screen-1/2" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
            <div *ngFor="let card of modal.cards | async" (click)="modal.callback(card.id)"
                class="flex bg-grey-lighter content-center items-center justify-center p-2 hover:bg-indigo-lighter cursor-pointer">
                <div class="m-2 flex-1">
                    <pitch-player-card [card]="card" size="sm" mode="squad"></pitch-player-card>
                </div>
                <div class="m-2 flex-grow justify-center content-center">{{card.position}}</div>
                <div class="m-2 flex-grow flex-col justify-center content-center">{{card.name}}</div>
                <div class="m-2 flex-grow justify-center content-center">{{card.fitness}}</div>
            </div>
        </div>
        <a href="#" class="block group hover:bg-indigo-lighter p-4 rounded no-underline" (click)="modal.callback(null)">
            <p class="font-bold text-md mb-1 text-black group-hover:text-white">Remove Player</p>
        </a>
    </div>
</div>