<div class="isometric-container bg-indigo-lightest">
    <div class="isometric">
        <div class="bg-green-light">
            <div class="flex pb-8 lg:pb-16">
                <div class="w-1/4 "></div>
                <div class="w-1/4 bg-red-light arrows">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield gold">
                                <span class="position">ST</span>
                                <span class="name">Firminho</span>
                                <span class="rating">84</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 bg-orange">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield super-rare text-white">
                                <span class="position">ST</span>
                                <span class="name">Mbappé</span>
                                <span class="rating">92</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex pb-8 lg:pb-16">
                <div class="w-1/4 bg-yellow">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield gold">
                                <span class="position">LM</span>
                                <span class="name">Mane</span>
                                <span class="rating">84</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield silver">
                                <span class="position">CM</span>
                                <span class="name">Milner</span>
                                <span class="rating">80</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield silver">
                                <span class="position">CM</span>
                                <span class="name">Henderson</span>
                                <span class="rating">80</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 bg-yellow">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield super-rare text-white">
                                <span class="position">RM</span>
                                <span class="name">Salah</span>
                                <span class="rating">88</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex pb-8 lg:pb-16">
                <div class="w-1/4 bg-green-dark">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield gold">
                                <span class="position">LB</span>
                                <span class="name">Robertson</span>
                                <span class="rating">80</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield super-rare text-white">
                                <span class="position">CB</span>
                                <span class="name">Van Dijk</span>
                                <span class="rating">86</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield gold">
                                <span class="position">CB</span>
                                <span class="name">Matip</span>
                                <span class="rating">78</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield gold">
                                <span class="position">RB</span>
                                <span class="name">Trent</span>
                                <span class="rating">80</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center">
                <div class="w-1/4 bg-yellow">
                    <div class="text-center py-2">
                        <div class="player">
                            <div class="shield gold">
                                <span class="position">GK</span>
                                <span class="name">Alison</span>
                                <span class="rating">88</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <h2 class="text-indigo p-2">Subs</h2>
    <div class="flex" style="overflow-x:auto">
        <div class="flex-1">
            <div class="player">
                <div class="shield gold">
                    <span class="position">GK</span>
                    <span class="name">Alison</span>
                    <span class="rating">88</span>
                </div>
            </div>
        </div>
        <div class="flex-1">
            <div class="player">
                <div class="shield gold">
                    <span class="position">GK</span>
                    <span class="name">Alison</span>
                    <span class="rating">88</span>
                </div>
            </div>
        </div>
        <div class="flex-1">
            <div class="player">
                <div class="shield gold">
                    <span class="position">GK</span>
                    <span class="name">Alison</span>
                    <span class="rating">88</span>
                </div>
            </div>
        </div>
        <div class="flex-1">
            <div class="player">
                <div class="shield gold">
                    <span class="position">GK</span>
                    <span class="name">Alison</span>
                    <span class="rating">88</span>
                </div>
            </div>
        </div>
        <div class="flex-1">
            <div class="player">
                <div class="shield gold">
                    <span class="position">GK</span>
                    <span class="name">Alison</span>
                    <span class="rating">88</span>
                </div>
            </div>
        </div>
    </div>
</div>