.isometric-container
  overflow: hidden

.isometric
  background-image: url(/assets/bg.png)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  text-align: center
  // transform-style: preserve-3d
  // transform: rotateX(65deg) rotateY(0deg) rotateZ(150deg) translateZ(0px)
  // *
  //     transform-style: preserve-3d

  //     .player, pitch-player-card
  //         transform: translateZ(3rem) rotateX(-90deg) rotateY(180deg)
  //     //for player faces
  //     // img
  //     //   transform: translateZ(2rem) rotateY(180deg) rotateX(90deg)
  //     //   height: 50px
  //     //   width: 50px
  //     //   position: absolute
  //     .sponsor-container
  //       transform: translateZ(2rem) rotateY(180deg) rotateX(90deg)

.text-center
  text-align: center

.squad-name
  font-size: 1.4em
  margin-bottom: 0
  > *
    width: 100%

.container
  margin: 10px