<div *ngIf="cards" class="isometric-container bg-indigo-lightest">
    <div class="isometric">
        <div class="bg-green-light">
            <div class="flex pb-8 lg:pb-16">
                <div class="w-1/4 hover:bg-green"></div>
                <div class="w-1/4 bg-red-light hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/20801.png">
                        <pitch-player-card [card]="cards['LST']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
                <div class="w-1/4 bg-orange hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/231747.png" />
                        <pitch-player-card [card]="cards['RST']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
            </div>
            <div class="flex pb-8 lg:pb-16">
                <div class="w-1/4 bg-yellow hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/190871.png">
                        <pitch-player-card [card]="cards['LM']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/138412.png" />
                        <pitch-player-card [card]="cards['LCM']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/183711.png" />
                        <pitch-player-card [card]="cards['RCM']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
                <div class="w-1/4 bg-yellow hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/5/209331.png" />
                        <pitch-player-card [card]="cards['RM']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
            </div>
            <div class="flex pb-8 lg:pb-16">
                <div class="w-1/4 bg-green-dark hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/216267.png" />
                        <pitch-player-card [card]="cards['LB']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/203376.png" />
                        <pitch-player-card [card]="cards['LCB']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/197061.png" />
                        <pitch-player-card [card]="cards['RCB']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
                <div class="w-1/4 bg-green-dark hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/231281.png" />
                        <pitch-player-card [card]="cards['RB']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
            </div>
            <div class="flex justify-center">
                <div class="w-1/4 bg-yellow hover:bg-green">
                    <div class="text-center py-2">
                        <img src="https://www.fifaindex.com/static/FIFA19/images/players/10/212831.png" />
                        <pitch-player-card [card]="cards['GK']" size="sm" mode="squad"></pitch-player-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <h2 class="p-2">Subs</h2>
    <div class="flex" style="overflow-x:auto">
        <div class="flex-1">
            <pitch-player-card [card]="alisson" size="sm"></pitch-player-card>
        </div>
        <div class="flex-1">
            <pitch-player-card [card]="alisson" size="sm"></pitch-player-card>
        </div>
        <div class="flex-1">
            <pitch-player-card [card]="alisson" size="sm"></pitch-player-card>
        </div>
        <div class="flex-1">
            <pitch-player-card [card]="alisson" size="sm"></pitch-player-card>
        </div>
        <div class="flex-1">
            <pitch-player-card [card]="alisson" size="sm"></pitch-player-card>
        </div>
    </div>
</div>