<div class="w-full flex text-sm" style="background-color:#3D457F">
    <div class="w-1/6 hidden lg:block"></div>
    <div class="flex-grow">
        <div class="text-2xl p-6 text-white">Active Squad</div>
        <ul class="tabs list-reset flex">
            <li class="tab -mb-px mr-1">
                <a routerLink="/squad/active" routerLinkActive="active">
                    <fa-icon [icon]="squadIcon" class="mr-2 text-indigo-dark"></fa-icon> Active Squad
                </a>
            </li>
            <li class="tab mr-1">
                <a routerLink="/squad/club" routerLinkActive="active">
                    <fa-icon [icon]="clubIcon" class="mr-2 text-indigo-dark"></fa-icon>
                    Club
                </a>
            </li>
        </ul>
    </div>
</div>

<div>
    <router-outlet #squadOutlet="outlet"></router-outlet>
</div>