<div class="bg-indigo-darkest text-center py-4 lg:px-4">
    <div class="p-2 bg-indigo-darker items-center text-indigo-lightest leading-none lg:rounded-full flex lg:inline-flex"
        role="alert">
        <span class="flex rounded-full bg-indigo uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
        <span class="font-semibold mr-2 text-left flex-auto">Limited time offer on special holiday packs!</span>
        <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" /></svg>
    </div>
</div>
<span class="text-2xl m-2">Ready to open </span>
<span class="rounded-full bg-indigo uppercase px-2 py-1 text-sm text-white font-bold">6</span>
<div class="flex">
    <div class="flex-1">
        <pitch-player-card [card]="card"></pitch-player-card>
    </div>
    <div class="flex-1">
        <pitch-player-card [card]="card"></pitch-player-card>
    </div>
</div>
<div class="flex">
    <div class="flex-1">
        <pitch-player-card [card]="card"></pitch-player-card>
    </div>
    <div class="flex-1">
        <pitch-player-card [card]="card"></pitch-player-card>
    </div>
</div>
<div class="flex">
    <div class="flex-1">
        <pitch-player-card [card]="card"></pitch-player-card>
    </div>
    <div class="flex-1">
        <pitch-player-card [card]="card"></pitch-player-card>
    </div>
</div>
<span class="text-2xl m-2">Buy </span>
<div class="flex">
    <div class="flex-1 text-center">
        <pitch-player-card [card]="card"></pitch-player-card>
        <h4>Normal</h4>
        <div class="m-1 p-1 bg-yellow-dark items-center text-black leading-none rounded-full flex inline-flex"
            role="alert">
            £10,000
        </div>
    </div>
    <div class="flex-1 text-center">
        <pitch-player-card [card]="card"></pitch-player-card>
        <h4>Rare</h4>
        <div class="m-1 p-1 bg-yellow-dark items-center text-black leading-none rounded-full flex inline-flex"
            role="alert">
            £100,000
        </div>
    </div>
</div>