<div *ngIf="packId" class="bg-curtain" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <button mat-button color="accent" (click)="destroy()" class="close-button">
      <mat-icon matListIcon>close</mat-icon>
  </button>
  <pitch-player-card class="z-50" [card]="card" size="lg" spinOnInit="true"></pitch-player-card>
  <div>
    <button mat-flat-button color="primary" (click)="click()">
      <span>Open Next <span>({{packsLeft || 0}})</span></span>
    </button>
  </div>
</div>