<div class="p-4 w-full">
    <button class="relative bg-indigo hover:bg-indigo-dark text-white font-bold py-2 px-4 rounded w-full">
        <fa-icon [icon]="findMatchIcon" class="text-white"></fa-icon>
        Find Match
        <span class="absolute pin-t pin-r -mt-2 -mr-2 rounded-full bg-red uppercase px-2 py-1 text-white text-xs font-bold">LIVE</span>
    </button>
    <button class="mt-4 bg-grey hover:bg-grey-light text-white font-bold py-2 px-4 rounded w-full">
        <fa-icon [icon]="simMatchIcon" class="text-white"></fa-icon>
        Sim Match
    </button>
</div>

<div class="flex-1 text-grey-darker text-center px-4 py-2 m-2 ">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-white">
        <div class="px-3 py-2">
            <div class="font-bold text-lg mb-2 text-indigo pb-3">
                Level 3
            </div>
            <div class="w-full">
                <div class="shadow w-full bg-grey-light">
                    <div class="bg-indigo-lighter text-xs leading-none py-1 text-center text-white" style="width: 45%">5323
                        xp</div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex-1 text-grey-darker text-center px-4 py-2 m-2 ">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-white">
        <div class="px-3 py-2">
            <div class="font-bold text-lg mb-2 text-indigo pb-3">
                Rank
            </div>
            <div class="font-bold text-xl mb-2 text-indigo pb-3">
                25
            </div>
        </div>
    </div>
</div>

<div class="flex-1 text-grey-darker text-center px-4 py-2 m-2 ">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-white">
        <div class="px-3 py-2">
            <div class="font-bold text-lg mb-2 text-indigo pb-3">
                Next Fixture
            </div>
            <div class="font-bold text-lg mb-2 text-indigo pb-3">
                Your Team vs Another Team
            </div>
        </div>
    </div>
</div>

<div class="flex-1 text-grey-darker text-center px-4 py-2 m-2 ">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-white">
        <div class="px-3 py-2">
            <div class="font-bold text-lg mb-2 text-indigo pb-3">
                Form
            </div>
            <div class="font-bold text-lg mb-2 text-indigo pb-3">
                WWLDD
            </div>
        </div>
    </div>
</div>