<h2 mat-dialog-title>Make a substitution</h2>
<mat-dialog-content class="mat-typography mat-dialog-content">
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="space-around center">
      <h2>Off</h2>
      <div class="p-2 m-1" *ngFor="let player of squad?.active">
        <pitch-player-card (click)="selectOff(player)" size="sm" [card]="card(player)" mode="squad"></pitch-player-card>
      </div>
    </div>
    <div fxLayout="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="space-around center">
      <h2>On</h2>
      <div class="p-2 m-1" *ngFor="let player of squad?.subs">
        <pitch-player-card (click)="selectOn(player)" size="sm" [card]="card(player)" mode="squad"></pitch-player-card>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <h4 class="mb-4">Summary</h4>
    <div class="flex m-2">
      <div class="w-1/3 text-xs">
        {{off?.name}}
      </div>
      <div class="w-1/3 text-center">
        <fa-icon [icon]="rightChevron" class="ml-2 text-indigo-lighter"></fa-icon>
      </div>
      <div class="w-1/3 text-xs">
        {{on?.name}}
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="sub()" [disabled]="!(on && off)">Confirm</button>
</mat-dialog-actions>