<div class="w-full flex text-sm" style="background-color:#3D457F">
    <div class="w-1/6 hidden lg:block"></div>
    <div class="flex-grow">
        <div class="text-2xl p-6 text-white">Seasons</div>
        <ul class="tabs list-reset flex">
            <li class="tab -mb-px mr-1">
                <a routerLink="/seasons/current" routerLinkActive="active">
                    <fa-icon [icon]="cupIcon" class="mr-2 text-indigo ml-2"></fa-icon> Current Season
                </a>
            </li>
            <li class="tab mr-1">
                <a routerLink="/seasons/history" routerLinkActive="active">
                    <fa-icon [icon]="listIcon" class="mr-2 text-indigo"></fa-icon>
                    Match History
                </a>
            </li>
        </ul>
    </div>
</div>
<div>
    <router-outlet #seasonsOutlet="outlet"></router-outlet>
</div>