<div class="w-full flex text-sm" style="background-color:#3D457F">
    <div class="w-1/6 hidden lg:block"></div>
    <div class="flex-grow">
        <div class="text-2xl p-6 text-white">Seasons</div>
        <ul class="list-reset flex">
            <li class="-mb-px mr-1">
                <a class="bg-white inline-block rounded-t py-2 px-4 text-indigo hover:text-indigo-lighter no-underline"
                    routerLink="/seasons/current">
                    <fa-icon [icon]="cupIcon" class="mr-2 text-indigo ml-2"></fa-icon> Current Season
                </a>
            </li>
            <li class="mr-1">
                <a class="bg-indigo-lightest inline-block rounded-t py-2 px-4 text-indigo hover:text-indigo-lighter hover:bg-indigo no-underline"
                    routerLink="/seasons/history">
                    <fa-icon [icon]="listIcon" class="mr-2 text-indigo"></fa-icon>
                    Match History
                </a>
            </li>
        </ul>
    </div>
</div>
<div>
    <router-outlet #seasonsOutlet="outlet"></router-outlet>
</div>