<div class="flex-1 text-grey-darker text-center px-4 py-2 m-2 ">
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-green text-white">
    <div class="px-3 py-2">
      <div class="font-bold text-lg mb-2 pb-3">
        Training Slot 1
        <span class="sticky pin-r">Level 4</span>
      </div>
      <div class="player">
        <div class="shield super-rare text-white">
          <span class="position">ST</span>
          <span class="name">Mbappé</span>
          <span class="rating">92</span>
        </div>
      </div>
    </div>
    <div class="border border-dashed border-indigo rounded mr-2 ml-2 mb-2 h-10 mt-5 bg-grey">
      <div class="pin-t super-rare text-xs leading-none h-full py-1 text-center text-white" style="width: 45%">
        <h3 class="mt-2">45%</h3>
      </div>
    </div>
  </div>
</div>

<div class="flex-1 text-grey-darker text-center px-4 py-2 m-2 ">
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-white border border-dashed border-indigo">
    <div class="px-3 py-2">
      <div class="font-bold text-lg mb-2 text-indigo pb-3">Training Slot 2</div>
      <div class="player text-black">
        <div class="shield gold">
          <span class="position">LM</span>
          <span class="name">Mane</span>
          <span class="rating">84</span>
        </div>
      </div>
    </div>
    <div class="border border-dashed border-indigo rounded mr-2 ml-2 mb-2 h-10 mt-5 bg-indigo-light">
      <div class="pin-t bg-indigo-dark text-xs leading-none h-full py-1 text-center text-white" style="width: 80%">
        <h3 class="mt-2">80%</h3>
      </div>
    </div>
  </div>
</div>

<div class="flex-1 text-grey-darker text-center px-4 py-2 m-2 ">
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-white border border-dashed border-indigo">
    <div class="px-3 py-2">
      <div class="font-bold text-lg mb-2 text-grey pb-3">Training Slot 3</div>
      <span class="text-lg text-grey">Unlocked at Level 10</span>
    </div>
    <div class="border border-dashed border-indigo rounded mr-2 ml-2 mb-2 h-10 mt-5 bg-grey-light">
    </div>
  </div>
</div>

<div class="flex-1 text-grey-darker text-center px-4 py-2 m-2 ">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white text-white border border-dashed border-indigo">
      <div class="px-3 py-2">
        <div class="font-bold text-lg mb-2 text-grey pb-3">Training Slot 4</div>
        <span class="text-lg text-grey">Unlocked at Level 15</span>
      </div>
      <div class="border border-dashed border-indigo rounded mr-2 ml-2 mb-2 h-10 mt-5 bg-grey-light">
      </div>
    </div>
  </div>