<button mat-fab color="primary" class="sub-button" (click)="substitution()"
  [disabled]="matchService.match?.expired || matchService.subsRemaining == 0">
  <mat-icon matListIcon>compare_arrows</mat-icon>
</button>

<div id="wrapper"> <!-- give it an id -->
  <div fxLayout="column" fxLayoutGap="8px" fxFill>
      <div fxFlex="20">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
          <div fxFlex></div>
          <div fxFlex>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="!matchService.match?.expired">
                <div>{{matchService.match?.minute}}'</div>
                <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
              </div>
              <div *ngIf="matchService.match?.expired" class="text-sm">
                Match ended {{ matchService.match?.expiredOn | timeago:live}}
              </div>
            </div>
          </div>
          <div fxFlex></div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%">
          <div fxFlex></div>
          <div fxFlex="16%">
            <h4 class="word-break-all">
              {{matchService.match?.homeResult?.name}}
            </h4>
          </div>
          <div fxFlex="16%">
            <h1 class="text-center">
              {{matchService.match?.homeResult?.score}}
            </h1>
          </div>
          <div class="text-center" fxFlex="16%">-</div>
          <div fxFlex="16%">
            <h1 class="text-center">
              {{matchService.match?.awayResult?.score}}
            </h1>
          </div>
          <div fxFlex="16%">
            <h4 class="word-break-all">
              {{matchService.match?.awayResult?.name}}
            </h4>
          </div>
          <div class="hidden lg:block w-1/3" fxFlex></div>
        </div>
        <div class="flex text-grey" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%">
          <div fxFlex="grow">
            <div class="text-xs lg:text-sm text-right" style="text-align:right"
              *ngFor="let scorer of matchService.match?.homeResult?.scorers">
              {{scorer}}
              <fa-icon class="ml-1" [icon]="goalIcon"></fa-icon>
            </div>
          </div>
          <div fxFlex="grow">
            <div class="text-xs lg:text-sm text-left" style="text-align:left"
              *ngFor="let scorer of matchService.match?.awayResult?.scorers">
              <fa-icon class="mr-1" [icon]="goalIcon"></fa-icon>
              {{scorer}}
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="80" fxFill>
        <mat-tab-group animationDuration="0ms" id="tab-group">
          <mat-tab label="TIMELINE">
            <div fxLayout="column" fxLayoutGap="3%" fxLayoutAlign="center">
              <div *ngFor="let event of matchService.match?.timeline" fxFlex fxLayout="row">
                <mat-card fxFlex class="event-card">
                  <mat-card-content>
                    <div class="px-2 py-2">
                      <span style="float: right;">{{event.minute}}'</span>
                      <div class="float-left font-semibold text-grey-darker text-sm mt-1">{{event.name}}</div>
                      <div class="clearfix"></div>
                      <hr class="mt-2 mb-2 py-0 my-0 border border-grey-lighter">
                      <div class="float-left font-semibold text-grey text-sm">{{event.squadName}}</div>
                      <div class="clearfix"></div>
                      <div class="p-2 text-center">
                        <pitch-player-card mode="squad" size="sm" [card]="getModel(event.cardId)"></pitch-player-card>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="LINEUPS">
            <h2>{{matchService.match?.awayResult?.name}}</h2>
            <app-match-lineup-squad *ngIf="matchService.match" [lineupDetail]="matchService.match?.lineup.away" [cardLookup]="matchService.match?.cardLookup"></app-match-lineup-squad>
            <h2>{{matchService.match?.homeResult?.name}}</h2>
            <app-match-lineup-squad *ngIf="matchService.match" [lineupDetail]="matchService.match?.lineup.home" [cardLookup]="matchService.match?.cardLookup"></app-match-lineup-squad>
          </mat-tab>
          <mat-tab label="STATS">
            <div fxLayout="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="space-around stretch"
              style="margin-top:10px;">
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="3%">
                <div class="text-center" fxFlex>{{matchService.match?.homeStats?.shots}}</div>
                <div class="text-center" fxFlex>Shots</div>
                <div class="text-center" fxFlex>{{matchService.match?.awayStats?.shots}}</div>
              </div>
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="3%">
                <div class="text-center" fxFlex>{{matchService.match?.homeStats?.shotsOnTarget}}</div>
                <div class="text-center" fxFlex>Shots on target</div>
                <div class="text-center" fxFlex>{{matchService.match?.awayStats?.shotsOnTarget}}</div>
              </div>
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="3%">
                <div class="text-center" fxFlex>{{matchService.match?.homeStats?.possession}}%</div>
                <div class="text-center" fxFlex>Possession</div>
                <div class="text-center" fxFlex>{{matchService.match?.awayStats?.possession}}%</div>
              </div>
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="3%">
                <div class="text-center" fxFlex>{{matchService.match?.homeStats?.fouls}}</div>
                <div class="text-center" fxFlex>Fouls</div>
                <div class="text-center" fxFlex>{{matchService.match?.awayStats?.fouls}}</div>
              </div>
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="3%">
                <div class="text-center" fxFlex>{{matchService.match?.homeStats?.yellowCards}}</div>
                <div class="text-center" fxFlex>Yellow Cards</div>
                <div class="text-center" fxFlex>{{matchService.match?.awayStats?.yellowCards}}</div>
              </div>
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="3%">
                <div class="text-center" fxFlex>{{matchService.match?.homeStats?.redCards}}</div>
                <div class="text-center" fxFlex>Red Cards</div>
                <div class="text-center" fxFlex>{{matchService.match?.awayStats?.redCards}}</div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
  </div>
</div>