<span class="text-2xl m-2">Ready to open </span>
<span class="rounded-full bg-indigo uppercase px-2 py-1 text-sm text-white font-bold">6</span>
<div class="flex">
    <div class="flex-1">
        <pitch-player id="" name="Ronaldo" rating="98" position="ST" opened="false" rarity="gold"></pitch-player>
    </div>
    <div class="flex-1">
        <pitch-player id="" name="Ozil" rating="78" position="ST" opened="false" rarity="bronze"></pitch-player>
    </div>
</div>
<div class="flex">
    <div class="flex-1">
        <pitch-player id="" name="Ronaldo" rating="98" position="ST" opened="false" rarity="bronze"></pitch-player>
    </div>
    <div class="flex-1">
        <pitch-player id="" name="Ozil" rating="78" position="ST" opened="false" rarity="silver"></pitch-player>
    </div>
</div>
<div class="flex">
    <div class="flex-1">
        <pitch-player id="" name="Ronaldo" rating="98" position="ST" opened="false" rarity="bronze"></pitch-player>
    </div>
    <div class="flex-1">
        <pitch-player id="" name="Ozil" rating="78" position="ST" opened="false" rarity="bronze"></pitch-player>
    </div>
</div>
<span class="text-2xl m-2">Buy </span>
<div class="flex">
    <div class="flex-1 text-center">
        <pitch-player id="" name="Ronaldo" rating="98" position="ST" opened="false" rarity="bronze"></pitch-player>
        <h4>Normal</h4>
        <div class="m-1 p-1 bg-yellow-dark items-center text-black leading-none rounded-full flex inline-flex" role="alert">
            £10,000
        </div>
    </div>
    <div class="flex-1 text-center">
        <pitch-player id="" name="Ozil" rating="78" position="ST" opened="false" rarity="bronze"></pitch-player>
        <h4>Rare</h4>
        <div class="m-1 p-1 bg-yellow-dark items-center text-black leading-none rounded-full flex inline-flex" role="alert">
            £100,000
        </div>
    </div>
</div>