<div class="flex">
    <div class="flex-1 bg-indigo-light">
        <pitch-player id="" name="Ronaldo" rating="98" position="ST" opened="false" rarity="gold"></pitch-player>
    </div>
    <div class="flex-1 bg-indigo-dark">
        <pitch-player id="" name="Ozil" rating="78" position="ST" opened="false" rarity="bronze"></pitch-player>
    </div>
</div>
<div class="flex">
    <div class="flex-1 bg-indigo-light">
        <pitch-player id="" name="Ronaldo" rating="98" position="ST" opened="false" rarity="bronze"></pitch-player>
    </div>
    <div class="flex-1 bg-indigo-dark">
        <pitch-player id="" name="Ozil" rating="78" position="ST" opened="false" rarity="silver"></pitch-player>
    </div>
</div>
<div class="flex">
    <div class="flex-1 bg-indigo-light">
        <pitch-player id="" name="Ronaldo" rating="98" position="ST" opened="false" rarity="bronze"></pitch-player>
    </div>
    <div class="flex-1 bg-indigo-dark">
        <pitch-player id="" name="Ozil" rating="78" position="ST" opened="false" rarity="bronze"></pitch-player>
    </div>
</div>