<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="(isHandset$ | async) ? 'over' : 'side'" opened>
    <div class="logo" routerLink="/">
      <h2>Pitch</h2>
      <h5>pre-alpha</h5>
    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]=""
        *ngIf="isLoggedIn && matchService.match && !matchService.match.expired && !matchService.unclaimed"
        (click)="matchService.goToMatch()">
        <div class="hidden lg:block"
          class="rounded-full mr-2 items-center text-xs py-2 border rounded text-black border-grey hover:bg-grey-light bg-grey-lightest">
          <mat-progress-spinner class="spinner" mode="indeterminate" diameter="15"></mat-progress-spinner>
          <mat-chip color="primary">LIVE</mat-chip> -
          <span class="text-green m-3">
            <span class="ml-1">{{matchService.match?.minute || 0}}'</span>
          </span>
          <span class="rounded-full items-center text-xs px-3 py-2 rounded text-black hover:bg-green-light bg-green">
            <span class="font-bold">{{matchService.match?.homeResult.score}}</span>
            <span class="text-grey-darker">
              -
              {{matchService.match?.awayResult.score}}</span>
          </span>
        </div>
      </a>
      <a mat-list-item [routerLink]=""
        *ngIf="(!matchService.match || matchService.match.expired) && !matchService.unclaimed"
        (click)="matchmakingService.matchmake()">
        <mat-icon matListIcon>sports_soccer</mat-icon>
        <p mat-line>
          Quick Match
          <button mat-button color="primary" *ngIf="!layoutService.showMatchmaking">PLAY</button>
          <button mat-button color="primary" *ngIf="layoutService.showMatchmaking">
            <mat-progress-spinner class="spinner" mode="indeterminate" diameter="15"></mat-progress-spinner>
          </button>
        </p>
      </a>
      <a mat-list-item [routerLink]="" *ngIf="matchService.unclaimed" (click)="claim()">
        <mat-icon matListIcon>card_giftcard</mat-icon>
        <p mat-line>
          Match Summary
        </p>
      </a>
      <!-- <a mat-list-item href>
        <mat-icon matListIcon>list</mat-icon>
        <p mat-line>Leaderboards</p>
      </a> -->
      <mat-divider></mat-divider>
      <h3 matSubheader>Team Management</h3>
      <a mat-list-item href *ngFor="let link of teamLinks" [routerLink]="link.route" routerLinkActive="active">
        <mat-icon matListIcon>{{link.icon}}</mat-icon>
        <p mat-line>{{ link.name }}</p>
      </a>
      <mat-divider></mat-divider>
      <h3 matSubheader>Packs</h3>
      <a mat-list-item href routerLink="/store/open" routerLinkActive="active">
        <mat-icon matListIcon>0</mat-icon>
        <p mat-line>
          Unopened
          <button mat-button color="primary">OPEN</button>
        </p>
      </a>
      <a mat-list-item href routerLink="/store/buy" routerLinkActive="active">
        <mat-icon matListIcon>shopping_basket</mat-icon>
        <p mat-line>Store</p>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item href="https://github.com/users/jcbcn/sponsorship" target="_blank">
        <mat-icon matListIcon>star</mat-icon>
        <p mat-line>Sponsor</p>
      </a>
      <a mat-list-item href="https://github.com/pitch-game" target="_blank">
        <mat-icon matListIcon>announcement</mat-icon>
        <p mat-line>Help & feedback</p>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="position-fixed">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!-- <span>Quick Match</span> -->
        <span class="example-spacer"></span>
        <span *ngIf="isLoggedIn && profile" class="mat-button mat-button-base" mat-button="">
          <span class="mat-button-wrapper">£{{profile.money | thousandSuff}}</span>
          <div class="mat-button-ripple mat-ripple" matripple="">
          </div>
          <div class="mat-button-focus-overlay">
          </div>
        </span>
        <span *ngIf="isLoggedIn && profile" class="mat-button mat-button-base" mat-button="">
          <span class="mat-button-wrapper">Level {{profile.level}}</span>
          <div class="mat-button-ripple mat-ripple" matripple="">
          </div>
          <div class="mat-button-focus-overlay">
          </div>
        </span>
        <mat-menu #userMenu="matMenu" yPosition="above">
          <span mat-menu-item disabled="true" *ngIf="isLoggedIn">{{username}}</span>
          <button mat-menu-item
            (click)="isLoggedIn ? signOut() : login()">{{ isLoggedIn ? 'Sign Out' : 'Sign In'}}</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon class="account_circle" aria-hidden="false" aria-label="User profile">account_circle</mat-icon>

        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>