<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="mdc-drawer__header">
      <h3 class="mdc-drawer__title">Pitch</h3>
      <h6 class="mdc-drawer__subtitle">pre-alpha</h6>
    </div>
    <mat-nav-list>
      <a mat-list-item href="..." *ngFor="let link of links">
        <mat-icon matListIcon>folder</mat-icon>
        {{ link.name }}
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Quick Match</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
          <mat-icon class="account_circle" aria-hidden="false" aria-label="User profile">account_circle</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>