<div class="sticky pin-t z-10">
  <nav class="flex items-center justify-between flex-wrap bg-indigo-dark p-3 pb-2">
    <div class="flex items-left flex-no-shrink text-white">
      <a href routerLink="/" class="font-semibold text-xl tracking-tight no-underline text-white">Pitch</a>
    </div>
    <div class="flex">
      <button *ngIf="isLoggedIn && matchService.match && !matchService.match.expired" (click)="matchService.goToMatch()" class="hidden lg:block"
        class="rounded-full mr-2 items-center text-xs py-2 border rounded text-black border-grey hover:bg-grey-light bg-grey-lightest">
        <span class="text-green m-3">
          <fa-icon [icon]="loadingIcon" [spin]="true"></fa-icon>
          <span class="ml-1">{{matchService.match?.minute || 0}}'</span>
        </span>
        <span
          class="rounded-full items-center text-xs px-3 py-2 border rounded text-black border-bg-green hover:bg-green-light bg-green">
          <span class="font-bold">{{matchService.match?.homeResult.score}}</span>
          <span class="text-grey-darker">
           -
          {{matchService.match?.awayResult.score}}</span>
        </span>
      </button>
      <button *ngIf="isLoggedIn" (click)="toggleMenu()"
        class="rounded-full mr-2 items-center text-xs px-3 py-2 border rounded text-black border-yellow hover:bg-yellow bg-yellow-dark">
        £{{profile?.money || '0' | thousandSuff : 0}}
      </button>
      <button *ngIf="isLoggedIn" (click)="toggleMenu()"
        class="rounded-full mr-2 items-center text-xs px-3 py-2 border rounded text-white border-orange hover:bg-orange bg-orange-dark">
        Lvl {{profile?.level || '1'}}
      </button>
      <div class="block lg:hidden">
        <button (click)="toggleMenu()"
          class="items-center px-3 py-2 border rounded text-indigo-lighter border-indigo-light hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
    </div>
  </nav>
  <nav class="lg:flex items-center justify-between flex-wrap bg-indigo-darker p-3 hidden lg:block"
    [ngClass]="{'block' : layoutService.showNav, 'hidden' : !layoutService.showNav}">
    <div class="w-full block flex-grow flex lg:items-center lg:w-auto flex-row-reverse lg:flex-row">
      <div class="text-sm lg:flex-auto text-right lg:text-left pt-2 lg:pt-0">
        <div class="lg:inline-block lg:mt-0">
          <fa-icon [icon]="seasonsIcon" class="mr-2 text-indigo-lighter"></fa-icon>
          <a routerLink="/seasons" class="lg:inline-block lg:mt-0 text-indigo-lighter hover:text-white mr-4">
            Seasons
          </a>
        </div>
        <div class="mt-4 lg:inline-block lg:mt-0">
          <fa-icon [icon]="squadIcon" class="mr-2 text-indigo-lighter"></fa-icon>
          <a routerLink="/squad" class="lg:inline-block lg:mt-0 text-indigo-lighter hover:text-white mr-4">
            Squad
          </a>
        </div>
        <!-- <div class="mt-4 lg:inline-block lg:mt-0">
          <fa-icon [icon]="challengesIcon" class="mr-2 text-indigo-lighter"></fa-icon>
          <a class="lg:inline-block lg:mt-0 text-indigo-lighter mr-4 line-through">
            Challenges
          </a>
        </div>
        <div class="mt-4 lg:inline-block lg:mt-0">
          <fa-icon [icon]="marketplaceIcon" class="mr-2 text-indigo-lighter"></fa-icon>
          <a class="lg:inline-block text-indigo-lighter mr-4 line-through">
            Marketplace
          </a>
        </div> -->
        <div class="mt-4 lg:inline-block lg:mt-0">
          <fa-icon [icon]="storeIcon" class="mr-2 text-indigo-lighter"></fa-icon>
          <a routerLink="/store" class="lg:inline-block text-indigo-lighter hover:text-white mr-4">
            Store
          </a>
        </div>
      </div>
      <div class="flex-grow lg:flex-none">
        <a href="#" (click)="login()"
          class="inline-block text-sm px-4 py-2 leading-none rounded text-white border-white bg-indigo-light hover:border-transparent hover:text-indigo hover:bg-white mt-4 lg:mt-0">
          <span *ngIf="!isLoggedIn">Login</span>
          <span *ngIf="isLoggedIn">Welcome, {{authService.getClaims().name}}</span>
        </a>
      </div>
    </div>
  </nav>
  <div *ngIf="layoutService.showMatchmaking" class="bg-indigo-darkest text-center py-4 lg:px-4">
    <div class="p-2 bg-indigo-darker items-center text-indigo-lightest leading-none lg:rounded-full flex lg:inline-flex"
      role="alert">
      <span class="font-semibold mr-2 text-center flex-auto">
        <fa-icon class="mr-1" [icon]="loadingIcon" [spin]="true"></fa-icon>
        Matchmaking in progress...
      </span>
    </div>
  </div>
</div>

<div class="flex bg-white">
  <div class="flex-auto" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>

<section class="bg-indigo-darkest py-8 w-full">
  <div class="container mx-auto px-8">
    <div class="text-grey text-xs">
      v{{version}} alpha
    </div>
    <div class="text-grey text-xs mt-4 bg-indigo-darker rounded p-2">
      This is an alpha version. Your progress may be lost and things may not work as intended.
      Please report any issues using the link below. <br />
    </div>
    <div class="table mt-4 w-full lg:max-w-xs">
      <div class="block sm:table-cell">
        <p class="uppercase text-grey text-sm sm:mb-6 font-semibold">Links</p>
        <ul class="list-reset text-xs mb-6">
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            ❤️
            <a href="#" class="text-grey hover:text-grey-dark">Donate</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            ⭐
            <a href="https://github.com/jcbcn/pitch-api" target="_blank"
              class="text-grey hover:text-grey-dark">GitHub</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            🤔
            <a href="https://github.com/jcbcn/pitch-api/issues" target="_blank"
              class="text-grey hover:text-grey-dark bg-indigo-darker p-1 rounded">Report an issue</a>
          </li>
        </ul>
      </div>
      <div class="block sm:table-cell">
        <p class="uppercase text-grey text-sm sm:mb-6 font-semibold">Legal</p>
        <ul class="list-reset text-xs lg:mb-6">
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            📜
            <a href="#" class="text-grey hover:text-grey-dark">Terms</a>
          </li>
          <li class="mt-2 inline-block mr-2 sm:block sm:mr-0">
            👥
            <a href="#" class="text-grey hover:text-grey-dark">Privacy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bg-indigo-darker w-full text-xs text-indigo-lighter p-4">
  <div class="container mx-auto">
    Copyright © 2019 Jacob Cann
    <p class="mt-1 text-indigo-light">Pitch is an open source project released under the GPL 3.0 license</p>
  </div>
</section>