<div class="flex mt-5">
  <div class="w-1/6 invisible lg:visible"></div>
  <div class="flex-grow">
    <div class="flex justify-center content-center self-center">
      <div>
        <pitch-player-card size="lg"></pitch-player-card>
      </div>
      <div>
        <span class="rounded-full bg-grey-light text-black px-2 py-1 text-2xl">x{{(packs | async)?.length || '?'}}</span>
      </div>
    </div>
    <div class="flex content-center flex-wrap justify-center m-5">
      <div class="w-2/3 lg:w-2/5 p-2">
        <button (click)="click('86031df8-a9ce-4558-8490-3428b0914ea6')"
          class="w-full bg-indigo hover:bg-indigo-lighter text-white font-bold p-2 px-4 rounded">
          <span class="text-lg mb-2">Open Pack</span>
          <div class="m-2">
            <span
              class="rounded-full bg-indigo-light uppercase px-2 py-1 text-sm text-white font-bold">{{(packs | async) ?.length || '?'}}
              remaining</span> </div>
        </button>
      </div>
    </div>
  </div>
  <div class="w-1/6 invisible lg:visible"></div>
</div>

<div *ngIf="showCurtain" class="fixed pin flex flex-col z-40 items-center justify-center overflow-auto bg-black">
  <button (click)="dismissCurtain()" class="absolute h-10 pin-t pin-b pin-r p-4">
    <fa-icon [icon]="closeIcon" size="2x" class="ml-2 text-indigo-lighter"></fa-icon>
  </button>
  <div class="flex">
    <pitch-player-card class="z-50" [card]="cards[curtainPackId]" size="lg" spinOnInit="true"></pitch-player-card>
  </div>
  <div class="flex content-center flex-wrap justify-center m-5">
    <div class="flex-1 p-2">
      <button (click)="click('86031df8-a9ce-4558-8490-3428b0914ea6')"
        class="w-full h-12 bg-indigo hover:bg-indigo-lighter text-white font-bold py-2 px-4 rounded">
        <span>Open Next <span
            class="rounded-full bg-indigo-light uppercase px-2 py-1 text-sm text-white font-bold">{{packs?.length}}</span></span>
        <fa-icon [icon]="nextIcon" class="ml-2 text-indigo-lighter"></fa-icon>
      </button>
    </div>
  </div>
</div>