<div class="flex mt-5">
  <div class="w-1/6 hidden lg:block"></div>
  <div class="flex-grow">
    <div class="flex justify-center content-center self-center">
      <div>
        <pitch-player-card></pitch-player-card>
      </div>
      <div>
        <span *ngIf="packs" class="rounded-full bg-grey-light text-black px-2 py-1 text-2xl">x{{packs.length}}</span>
      </div>
    </div>
    <div class="flex content-center flex-wrap justify-center m-5">
      <div class="w-2/3 lg:w-2/5 p-2">
        <button [disabled]="!this.packs || this.packs.length === 0" (click)="click()"
          class="w-full bg-indigo hover:bg-indigo-lighter text-white font-bold p-2 px-4 rounded">
          <span class="text-lg mb-2">Open Pack</span>
          <div class="m-2">
            <span *ngIf="packs"
              class="rounded-full bg-indigo-light uppercase px-2 py-1 text-sm text-white font-bold">{{packs.length || 0}}
              remaining</span> </div>
        </button>
      </div>
    </div>
  </div>
  <div class="w-1/6 hidden lg:block"></div>
</div>


<div #popupContainer>

</div>