<h2 mat-dialog-title>Select a {{position || 'player'}}</h2>
<mat-dialog-content class="mat-typography mat-dialog-content">
  <div class="overflow-y-scroll max-h-screen-1/2" infiniteScroll [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"  [infiniteScrollContainer]="'.mat-dialog-content'" [fromRoot]="true" fxLayout="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="space-around center">
    <div *ngFor="let card of cards$ | async" (click)="callback(card.id)"
      class="flex bg-grey-lighter content-center items-center justify-center p-2 hover:bg-indigo-lighter cursor-pointer">
      <div class="m-2 flex-1">
        <pitch-player-card [card]="card" size="md" mode="squad"></pitch-player-card>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="callback(null)">Remove Player</button>
</mat-dialog-actions>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->