<div class="flex">
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://images2.minutemediacdn.com/image/upload/c_fill,w_912,h_516,f_auto,q_auto,g_auto/shape/cover/sport/fbl-eng-pr-newcastle-sunderland-5be42d9baa61f4259d000005.jpg"
        alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Lucky you</div>
        <p class="text-grey-darker text-base">
          Recieve a player rated 65 or above in your starting squad
        </p>
      </div>
      <div class="px-6 py-4">
          <div class="text-right p-2">
            <div class="m-1 p-2 bg-orange-dark items-center text-indigo-lightest leading-none lg:rounded-full flex lg:inline-flex"
              role="alert">
              250 xp
            </div>
            <div class="m-1 p-2 bg-yellow-dark items-center text-black leading-none lg:rounded-full flex lg:inline-flex"
              role="alert">
              £250
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://images2.minutemediacdn.com/image/upload/c_fill,w_912,h_516,f_auto,q_auto,g_auto/shape/cover/sport/hibernian-v-aberdeen-scottish-premier-league-5be42d16e031a73d0b000001.jpg"
        alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Ouch!</div>
        <p class="text-grey-darker text-base">
          Quick-sell one of your starting eleven
        </p>
      </div>
      <div class="px-6 py-4">
          <div class="text-right p-2">
            <div class="m-1 p-2 bg-orange-dark items-center text-indigo-lightest leading-none lg:rounded-full flex lg:inline-flex"
              role="alert">
              50 xp
            </div>
            <div class="m-1 p-2 bg-yellow-dark items-center text-black leading-none lg:rounded-full flex lg:inline-flex"
              role="alert">
              £1,000
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="flex-1 text-grey-darker text-center px-4 py-2 m-2">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://images2.minutemediacdn.com/image/upload/c_fill,w_912,h_516,f_auto,q_auto,g_auto/shape/cover/sport/fbl-eur-c1-juventus-man-utd-5be423340e37bad406000001.jpg"
        alt="Sunset in the mountains">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Moving on up</div>
        <p class="text-grey-darker text-base">
          Assign one of your starting eleven to a training slot
        </p>
      </div>
      <div class="px-6 py-4">
        <div class="text-right p-2">
          <div class="m-1 p-2 bg-orange-dark items-center text-indigo-lightest leading-none lg:rounded-full flex lg:inline-flex"
            role="alert">
            500 xp
          </div>
        </div>
      </div>
    </div>
  </div>
</div>